<footer class="site-footer py-5 text-center">
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item"><i class="fa fa-github" aria-hidden="true"></i> <a href="http://github.com/codiceinutile">GitHub</a></li>
    <li class="list-inline-item"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="http://facebook.com/codiceinutile">Facebook</a></li>
    <li class="list-inline-item"><i class="fa fa-twitter" aria-hidden="true"></i> <a href="http://twitter.com/codiceinutile">Twitter</a></li>
    <li class="list-inline-item"><i class="fa fa-medium" aria-hidden="true"></i> <a href="http://medium.com/@codiceinutile">Medium</a></li>
  </ul>
  <p>Codice Inutile ass. cult. &bull; C.F. 93273010236</p>
</footer>
