<footer class="text-white">
  <div class="container-fluid">
    <div class="row newsletter p-5">
      <div class="col">
        <h2>Ti piace quello che facciamo? Restiamo in contatto!</h2>
        <p>Puoi iscriverti alla nostra newsletter per rimanere aggiornato su attivit&agrave;, workshop, iniziative dell'associazione.<br />Mandiamo pochissime comunicazioni e solo quando abbiamo qualcosa di interessante da dire.</p>
        <form action="//codiceinutile.us14.list-manage.com/subscribe/post?u=4264acf90b7891aa8d7dbe189&amp;id=a5b1d32440" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank" novalidate>
            <div class="form-group mb-2 mr-sm-2 mb-sm-0 mc-field-group">
              <label for="mce-FNAME" class="sr-only">First Name </label>
              <input type="text" value="" name="FNAME" class="form-control" placeholder="Nome" id="mce-FNAME">
            </div>
            <div class="form-group mb-2 mr-sm-2 mb-sm-0 mc-field-group">
              <label for="mce-LNAME" class="sr-only">Last Name </label>
              <input type="text" value="" name="LNAME" class="form-control" placeholder="Cognome" id="mce-LNAME">
            </div>
            <div class="form-group mb-2 mr-sm-2 mb-sm-0 mc-field-group">
              <label for="mce-EMAIL" class="sr-only">Email Address </label>
              <input type="email" value="" name="EMAIL" class="form-control required email" placeholder="you@youremail.com" id="mce-EMAIL">
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4264acf90b7891aa8d7dbe189_a5b1d32440" tabindex="-1" value=""></div>

            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning"><i class="fas fa-envelope-open-text"></i> Iscriviti</button>

        </form>
      </div>
    </div>
    <div class="row colophon p-5 small">
      <div class="col-6 col-sm-3">
        <h2 class="text-uppercase h6">Codice Inutile</h2>
        <p>Associazione culturale<br />
        C.F: 93273010236</p>
        <p><a href="https://github.com/codiceinutile/codiceinutile-docs/blob/master/PRIVACY.md">Privacy Policy</a></p>
      </div>
      <div class="col-6 col-sm-3">
        <h2 class="text-uppercase h6">Contatti</h2>
        <p>Partecipa all'organizzazione delle attività dell'associazione su <a href="http://facebook.com/groups/codiceinutilegroup/"><u class="text-primary">Gruppo Facebook</u></a></p>
        <p><abbr title="Telefono">T</abbr>: <a href="tel:+393333611809">+39 333 3611809</a><br /><abbr title="E-mail">E</abbr>: <a href="mailto:&#099;&#111;&#100;&#105;&#099;&#101;&#105;&#110;&#117;&#116;&#105;&#108;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#099;&#111;&#100;&#105;&#099;&#101;&#105;&#110;&#117;&#116;&#105;&#108;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p>
      </div>
      <div class="col-6 col-sm-3">
        <h2 class="text-uppercase h6">Indirizzo</h2>
        <address>
          via Laghetto Squar&agrave; 8/B<br/>
          37141, Verona<br />
        </address>
      </div>
      <div class="col-6 col-sm-3">
        <h2 class="text-uppercase h6">Social Network</h2>
        <ul class="list-unstyled">
          <li><a href="https://www.github.com/codiceinutile" target="_blank">GitHub</a></li>
          <li><a href="https://www.facebook.com/codiceinutile" target="_blank">Facebook</a></li>
          <li><a href="https://www.twitter.com/codiceinutile" target="_blank">Twitter</a></li>
          <li><a href="http://instagram.com/codiceinutile" target="_blank">Instagram</a></li>
          <li><a href="https://www.youtube.com/channel/UCp6sB4tHnhHcRFSGRm36xOQ?sub_confirmation=1" target="_blank">YouTube</a></li>
          <li><a href="https://www.medium.com/@codiceinutile" target="_blank">Medium</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- JS, Popper.js, and jQuery -->
<script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>