<div class="container my-5">
  <div class="text-center">
    <h3 class="">Newsletter</h3>
    <p>Iscriviti alla newsletter per rimanere aggiornato su attivit&agrave;, workshop, iniziative dell'associazione</p>
    <form action="//codiceinutile.us14.list-manage.com/subscribe/post?u=4264acf90b7891aa8d7dbe189&amp;id=a5b1d32440" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate justify-content-center" target="_blank" novalidate>
        <div class="form-group mb-2 mr-sm-2 mb-sm-0 mc-field-group">
          <label for="mce-FNAME" class="sr-only">First Name </label>
          <input type="text" value="" name="FNAME" class="form-control" placeholder="Nome" id="mce-FNAME">
        </div>
        <div class="form-group mb-2 mr-sm-2 mb-sm-0 mc-field-group">
          <label for="mce-LNAME" class="sr-only">Last Name </label>
          <input type="text" value="" name="LNAME" class="form-control" placeholder="Cognome" id="mce-LNAME">
        </div>
        <div class="form-group mb-2 mr-sm-2 mb-sm-0 mc-field-group">
          <label for="mce-EMAIL" class="sr-only">Email Address </label>
          <input type="email" value="" name="EMAIL" class="form-control required email" placeholder="you@youremail.com" id="mce-EMAIL">
        </div>

        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-info">Iscriviti</button>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_4264acf90b7891aa8d7dbe189_a5b1d32440" tabindex="-1" value="">
        </div>
    </form>
  </div>
</div>

<footer class="site-footer my-5 text-center small">
  <p>Codice Inutile associazione culturale &bull; C.F. 93273010236<br /><a href="mailto:&#099;&#111;&#100;&#105;&#099;&#101;&#105;&#110;&#117;&#116;&#105;&#108;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#099;&#111;&#100;&#105;&#099;&#101;&#105;&#110;&#117;&#116;&#105;&#108;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p>
</footer>

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
