{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">
    {{ site.title }}
  </a>
  {% if page_paths %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!--
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
      </li>
      {% for path in page_paths %}
        {% assign my_page = site.pages | where: "path", path | first %}
        {% if my_page.title %}
        <li class="nav-item">
          <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {% endif %}
      {% endfor %}
      -->
      <li class="nav-item">
        <a class="nav-link" href="https://www.github.com/codiceinutile"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://codiceinutile.herokuapp.com"><i class="fa fa-slack" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.medium.com/@codiceinutile"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/codiceinutile"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.twitter.com/codiceinutile"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>
