$color_black: #000000;
$color_white: #FAFAFA;
$color_blue: #3333ff;

body, html {
  height: 100%;
}

header {
  a {
    color: $color_blue;
    &:hover {
      color: lighten($color_blue, 10%);
    }
  }
  .btn-donazione {
    border:1px solid $color_blue;
    color: $color_blue;
  }
}
main {
  h3 {
    font-weight: bold;
    color: $color_blue;
    padding-bottom: 5px;
    font-size: 0.75rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:after {
      content:' ';
      margin: 0 20px;
      flex: 1 0 20px;
      border-bottom:3px solid $color_blue;
    }
  }
  .hero {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/assets/images/codice-inutile-associazione-culturale-Processing-community-day-roma-2019.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100%;
  }
}

.img-shadow-left {
  box-shadow: 10px 10px 0px 0px $color_blue;
  -webkit-box-shadow: 10px 10px 0px 0px $color_blue;
  -moz-box-shadow: 10px 10px 0px 0px $color_blue;
}

.img-shadow-right {
  box-shadow: -10px 10px 0px 0px $color_blue;
  -webkit-box-shadow: -10px 10px 0px 0px $color_blue;
  -moz-box-shadow: -10px 10px 0px 0px $color_blue;
}

.navbar .show, .navbar .collapsing {
  text-align: center !important;
}

.navbar-toggler {
  text-align: right;
  color: $color_blue;
  .navbar-toggler-icon {
    color: $color_blue;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2851, 51, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }
}

footer {
  a {
    color: $color_white;
    &:hover {
      color: $color_white;
    }
  }
}
.newsletter {
  background-color: $color_blue;
}
.colophon {
  background-color: $color_black;
}

.donazione {
  h2 {
    text-transform: uppercase;
    font-size: 1rem;
    color: $color_white;
    border-bottom: 1px solid $color_white;
    a {
      color: $color_white;
      &:hover {
        text-decoration: none;
        color: lighten($color_blue, 30%);
      }
    }
  }
  .box-donazione {
    background-color: $color_blue;
  }
}
