// Google Webfont
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,700');


body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  strong {
    font-weight: 700;
  }
}

h2, h3, h4 {
  font-family: 'Inconsolata', monospace;
}

.page {
  padding-top: 2rem;
}

.main-navbar {
  background-color: #Ef3e4a;
  ul.nav {
    text-transform: uppercase;
    a {
      color: white;
    }
  }
}

.post-title {
  font-weight: 700;
}

.donation-form {
  .form-check-label {
    font-size: 1.5em;
    font-family: 'Inconsolata', monospace;

  }
}

.blockquote {
  border:none;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.jumbotron {
  background-color: #FDF06F;
}

.site-footer {
  font-family: 'Inconsolata', monospace;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
