---
layout: default
---
<div class="container donazione">
  <div class="row pt-5 p-md-5">
    <div class="col-10 text-center mx-auto">
      <h1 class="pb-5">{{ page.title | escape }}</h1>
      <p class="lead">Vogliamo realizzare tanti progetti e attivit&agrave; e ogni contributo &egrave;, per noi, fondamentale. Puoi effettuare una <span class="text-primary">donazione</span> libera attraverso il modulo qui sotto. Se invece vuoi avere una parte attiva nell'associazione, puoi pensare di effettuare il <a href="/tesseramento">tesseramento</a>.</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-10 col-sm-3 mx-auto box-donazione mb-3 mb-sm-0 p-3 ">
      <h2 class="pb-3"><a href="https://paypal.me/codiceinutile/25" target="_blank">&euro; 25,00 amico</a></h2>
      <a href="https://paypal.me/codiceinutile/25" target="_blank" class="btn btn-lg btn btn-light d-block">Dona ora</a>
    </div>
    <div class="col-10 col-sm-3 mx-auto box-donazione mb-3 mb-sm-0 p-3">
      <h2 class="pb-3"><a href="https://paypal.me/codiceinutile/50" target="_blank">&euro; 50,00 sostenitore</a></h2>
      <a href="https://paypal.me/codiceinutile/50" target="_blank" class="btn btn-lg btn btn-light d-block">Dona ora</a>
    </div>
    <div class="col-10 col-sm-3 mx-auto box-donazione mb-3 mb-sm-0 p-3">
      <h2 class="pb-3"><a href="https://paypal.me/codiceinutile/" target="_blank">Importo libero &#x1F680;</a></h2>
      <a href="https://paypal.me/codiceinutile/" target="_blank" class="btn btn-lg btn btn-light d-block">Dona ora</a>
    </div>
  </div>
  <p class="text-center m-5 display-4 text-warning"><i class="fab fa-cc-paypal"></i></p>
</div>
