---
layout: default
---
<div class="container donazione">
  <div class="row pt-5 p-md-5">
    <div class="col-10 text-center mx-auto">
      <h1 class="pb-5">{{ page.title | escape }}</h1>
      <p class="lead">Vogliamo realizzare tanti progetti e attivit&agrave; e ogni contributo &egrave;, per noi, fondamentale. Puoi effettuare una <span class="text-primary">donazione</span> libera attraverso il modulo qui sotto. Se invece vuoi avere una parte attiva nell'associazione, puoi pensare di effettuare il <a href="/tesseramento">tesseramento</a>.</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-10 col-sm-3 mx-auto box-donazione mb-3 mb-sm-0 p-3 ">
      <h2 class="pb-3"><a href="https://paypal.me/codiceinutile/25" target="_blank">&euro; 25,00 amico</a></h2>
      <a href="https://paypal.me/codiceinutile/25" target="_blank" class="btn btn-lg btn btn-light d-block">Dona ora</a>
    </div>
    <div class="col-10 col-sm-3 mx-auto box-donazione mb-3 mb-sm-0 p-3">
      <h2 class="pb-3"><a href="https://paypal.me/codiceinutile/50" target="_blank">&euro; 50,00 sostenitore</a></h2>
      <a href="https://paypal.me/codiceinutile/50" target="_blank" class="btn btn-lg btn btn-light d-block">Dona ora</a>
    </div>
    <div class="col-10 col-sm-3 mx-auto box-donazione mb-3 mb-sm-0 p-3">
      <h2 class="pb-3"><a href="https://paypal.me/codiceinutile/" target="_blank">Importo libero &#x1F680;</a></h2>
      <a href="https://paypal.me/codiceinutile/" target="_blank" class="btn btn-lg btn btn-light d-block">Dona ora</a>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-10 col-sm-4 mx-auto box-donazione mb-3 mb-sm-0 p-3">
      <h2 class="pb-3"><a href="https://paypal.me/codiceinutile/" target="_blank">Donazione continuativa</a></h2>
      <p class="text-light">Puoi versare una cifra mensilmente per contribuire alle attivit&agrave; dell'associazione.</p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="form-group">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="D3ZXL2FFLNDF4">
        <table class="mb-3">
        <tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0" class="form-control">
          <option value="Donazione di">Donazione di : €1,00 EUR - mensile</option>
          <option value="Donazione di">Donazione di : €5,00 EUR - mensile</option>
          <option value="Donazione di">Donazione di : €10,00 EUR - mensile</option>
          <option value="Donazione di">Donazione di : €5,00 EUR - tutti i giorni</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="EUR">
        <input type="submit" name="submit" value="Abbonamento" class="btn btn-lg btn btn-light d-block">
        </form>
    </div>
  </div>
  <p class="text-center">Tutti i pagamenti sono gestiti con PayPal</p>
  <p class="text-center display-4 text-warning"><i class="fab fa-cc-paypal"></i></p>

</div>


