---
layout: default
---
<div class="container-fluid">
  <div class="row hero p-md-5">
    <div class="col-12 col-sm-6 py-5">
      <h1 class="display-3">Codice Inutile</h1>
      <p class="lead">Siamo un'associazione culturale senza scopo di lucro nata per esplorare le potenzialit&agrave; delle nuove tecnologie in ambito artistico, culturale e sociale.</p>
      <p>La nostra <em>mission</em> è creare una community di <strong>creative coders</strong> in Italia: persone accomunate dalle nostre stesse passioni e dalla consapevolezza che la programmazione pu&ograve; essere usata non solo, come normalmente si &egrave; portati a credere, per risolvere problemi ma anche per esprimersi creativamente.</p>
    </div>
    <div class="col-8 col-sm-4 align-items-center mx-auto d-flex pb-5 pb-sm-0">
      <img src="/assets/logo-white.svg" width="50%" class="d-flex mx-auto" alt="Logo di Codice Inutile">
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-6">
      <blockquote class="blockquote">
        <p class="mb-0">Mettiamoci prima d'accordo sulla funzione delle macchine inutili: che siano macchine non c'è dubbio, dato che è una macchina la leva, volgarmente detta &quot;quel pezzo di ferro lì&quot;. Resta da chiarire l'aggettivo &quot;inutile&quot;: inutili perché non fabbricano, non eliminano manodopera, non fanno economizzare tempo e denaro, non producono niente di commerciabile</p>
        <footer class="blockquote-footer">Bruno Munari <cite title="La Lettura">Che cosa sono le macchine inutili e perché, La Lettura, luglio 1937.
        </cite></footer>
      </blockquote>
    </div>
  </div>
</div>
</div>
<div class="container my-5">
  <div class="row mb-5">
    <div class="col-12">
      <h2 class="display-4 text-center">Cosa facciamo?</h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-6">
      <h3 class="text-uppercase">Meetup</h3>
      <h4>Milano Live Coding</h4>
      <p class="lead">A Milano ci troviamo dal 2015 all'incirca una volta al mese per parlare di codice, arte e fare community.</p>
      <p>Siamo partiti dal presupposto che sia necessario un cambio di paradigma: dal DIY (Do It Yourself) al <strong>DIWO (Do It With Others)</strong>. Gli incontri sono un'occasione per conoscersi, studiare e imparare insieme nuovi linguaggi o tecnologie, avviare nuovi progetti e sperimentare. Tutti gli incontri si svolgono in maniera informale. Per gli aggiornamenti e le date dei prossimi incontri, fai sempre riferimento alla nostra pagina <a href="https://www.facebook.com/codiceinutile/events">Facebook</a>.</p>
      <p>Non sei di Milano e ti piacerebbe creare un gruppo nella tua citt&agrave;? <a href="mailto:&#099;&#111;&#100;&#105;&#099;&#101;&#105;&#110;&#117;&#116;&#105;&#108;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=Vorrei%20organizzare%20un%20meetup">Scrivici</a></p></p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/images/codice-inutile-milano-live-coding.jpg" class="img-fluid img-shadow-left" alt="Un ragazzo programma in WebGL durante un incontro di Milano Live Coding" />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-6 order-last order-md-first">
      <img src="/assets/images/codice-inutile-pcd-2019.jpg" class="img-fluid img-shadow-right" alt="Processing Community Day in Italia" />
    </div>
    <div class="col-12 col-md-6 mt-5 mt-md-0 order-first order-md-last">
      <h3 class="text-uppercase">Eventi</h3>
      <h4>Processing Community Day 2019</h4>
      <p class="lead">Una giornata per celebrare l'arte, la programmazione e la diversità. Ne abbiamo parlato <a href="https://medium.com/codiceinutile/processing-community-day-in-italia-98ec287302b">qui</a>.</p>
      <p>Nel 2019 Codice Inutile ha aderito all'invito della <strong>Processing Foundation</strong> per il Processing Community Day Worldwide facendosi promotore dell'organizzazione di eventi in Italia. Il risultato? Tre eventi in tre città diverse per coprire tutto il territorio nazionale da nord a sud: il 31 gennaio a <strong>Milano</strong>, il 2 febbraio a <strong>Roma</strong> e il 9 febbraio a <strong>Bari</strong>.</p>
      <p>Ringraziamo le persone e le realt&agrave; che hanno deciso, fin dal principio, di aiutarci nell'organizzazione e nella realizzazione di questi tre eventi: <em>Mikamai, Famo Cose, La Scuola Open Source, Federico Pepe, Alka Cappellazzo, Matteo Testa, Valerio Viperino e Aurelio Carella</em>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h3 class="text-uppercase">Formazione</h3>
      <h4>Corsi e Workshop</h4>
      <p class="lead">Realizziamo corsi e workshop per bambini, ragazzi e adulti sia per principianti che per utenti pi&ugrave; esperti.</p>
      <a class="btn btn-outline-primary text-center" href="https://codiceinutile.thinkific.com/?utm_source=website&utm_medium=button&utm_campaign=home-page">Scopri i nostri corsi on-line</a>
      <p>Il nostro obiettivo &egrave; riuscire a trasmettere la nostra passione per l'arte e la programmazione. Facciamo il possibile per portare tutti i partecipanti a raggiungere dei risultati concreti. Siamo flessibili e riusciamo ad adattarci a esigenzie sia di budget che di tempo disponibili. Ci piace collaborare con realt&agrave; di vario genere sul territorio: dalle associazioni culturali, ai FabLab, alle aziende.</p>
      <p>Vuoi organizzare un corso nella tua citt&agrave;? <a href="mailto:&#099;&#111;&#100;&#105;&#099;&#101;&#105;&#110;&#117;&#116;&#105;&#108;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=Vorrei%20organizzare%20un%20corso">Contattaci</a></p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/images/codiceinutile-corsi.jpg" class="img-fluid img-shadow-left" alt="Un corso di formazione organizzato da Codice Inutile in una scuola superiore" />
    </div>
  </div>
</div>
