---
layout: default
---
<div class="jumbotron bg-light mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8">
        <h1 class="display-3">Codice Inutile</h1>
        <p class="lead">&Egrave; un'associazione culturale senza scopo di lucro nata per esplorare le potenzialit&agrave; delle nuove tecnologie in ambito artistico, culturale e sociale.</p>
        <p>La nostra <em>mission</em> &egrave; creare una community di <strong>creative coders</strong> in Italia: persone accomunate dalle nostre stesse passioni e dalla consapevolezza che la programmazione pu&ograve; essere usata non solo, come normalmente si &egrave; portati a credere, per risolvere problemi ma anche per esprimersi creativamente.</p>
        <p><script async defer src="https://codiceinutile.herokuapp.com/slackin.js"></script></p>
      </div>
      <div class="col-12 col-sm-4 align-items-center d-flex">
        <img src="/assets/logo.svg" width="50%" class="d-flex mx-auto">
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12">
        <h2>Impara a programmare in Three.js (WebGL)</h2>
      </div>
      <div class="col-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wHdK1Mtuhm8" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iE96XKJzuoo" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kTwHuMrTOKg" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="{{ 'tesseramento' | relative_url }}" class="btn btn-outline-danger btn-lg" role="button" aria-pressed="true">Tesseramento</a></li>
          <li class="list-inline-item mt-2 mt-sm-0"><a href="https://www.paypal.me/codiceinutile" class="btn btn-outline-warning btn-lg" role="button" aria-pressed="true">Fai una donazione</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 mx-auto">
        <blockquote class="blockquote">Resta da chiarire l'aggettivo &quot;inutile&quot;: inutili perché non fabbricano, non eliminano manodopera, non fanno economizzare tempo e denaro, non producono niente di commerciabile.
        <footer class="blockquote-footer">Bruno Munari in <cite>Le macchini inutili e perch&eacute;, La Lettura (1 luglio 1937)</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div style="background: url(/assets/images/codiceinutile-corsi.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; min-height: 75vh;">
</div>
