<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container post single-post">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          {{ content }}
        </div>
        <!--
        * Uncomment this to add the Sidebar
        * also, remember to edit the sidebar layout before publishing.
        <div class="col-xs-12 col-sm-4">
          {% include sidebars/post.html %}
        </div>
        -->
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
