---
layout: default
---
<div class="page">
  <div class="container">
    <div class="row p-5">
      <article class="post col-12 col-sm-5">

        <header class="post-header">
          <h1 class=" display-4">{{ page.title | escape }}</h1>
        </header>

        <div class="post-content">
          {{ content }}
        </div>

      </article>
      <aside class="col-12 col-sm-6 offset-sm-1">
        <h1 class="display-4">Diventa socio</h2>
        <p>Per associarsi &egrave; sufficiente seguire questi semplici passaggi:</p>
        <ol>
          <li><a href="https://github.com/codiceinutile/codiceinutile-docs/blob/master/STATUTO.md" target="_blank">Leggi lo statuto</a></li>
          <li><a href="https://forms.gle/58yF4jcMKatKoFmZ7" target="_blank">Compila la domanda di ammissione</a></li>
          <li>Effettua il pagamento della quota associativa annuale che, per il 2021, &egrave; pari a <strong>&euro; 10,00</strong> (socio ordinario) oppure <strong>&euro; 50,00</strong> (socio sostenitore).</li>
          <li>Una volta ricevuto il pagamento ti invieremo un'e-mail di conferma del tuo status di socio.</li>
        </ol>
        <p>Nota bene: l'anno sociale va dal 1 gennaio al 31 dicembre, nel mese di dicembre daremo già la possibilità di rinnovare il tesseramento per l'anno successivo.</p>
        <h3>Modalit&agrave; di pagamento</h3>
        <ul>
          <li>
            <strong>Bonifico Bancario</strong> <i class="fas fa-university"></i>
            <p>Nella causale del bonifico indica il tuo nome e cognome e/o l'indirizzo e-mail.<br />IBAN: IT94 M 05034 11705 000 000 001773</p>
          </li>
          <li>
            <p>
              <strong>PayPal</strong> <i class="fab fa-paypal"></i><br />
              Cliccando sul link qui sotto, verrai reindirizzato sul sito PayPal. Se possibile, ti chiediamo di effettuare il pagamento con lo stesso indirizzo e-mail inserito nella domanda di ammissione.
              <ul class="list-inline my-3">
                <li class="list-inline-item"><a class="btn btn-outline-primary" href="https://www.paypal.me/codiceinutile/10.54" role="button">&euro; 10 (socio ordinario)</a></li>
                <li class="list-inline-item"><a class="btn btn-outline-primary" href="https://www.paypal.me/codiceinutile/51.27" role="button">&euro; 50 (socio sostenitore)</a></li>
              </ul>
              <p>Attenzione: dal momento che la quota associativa deve essere versata per intero da ciascun socio, siamo costretti ad addebitare le commissioni di PayPal (1.8% + &euro; 0,35).</p>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</div>

<script>
// SET AMOUNT DEFAULT VALUE
var amount = 500;
// Change amount value if a radio button is selected
$('input[name="valore"]').change(function(){
  amount = $('input[name="valore"]:checked').val();
});
// When the button is clicked
$('#donateButton').on('click', function(e) {
  e.preventDefault();
  amount = parseInt(amount);
  if (isNaN(amount)) {
    $('#error_explanation').html('<p class="alert alert-warning" role="alert">Si è verificato un errore.</p>');
  }
  else if (amount < 500) {
    $('#error_explanation').html('<p class="alert alert-warning" role="alert">L\'importo minimo è di 5 euro.</p>');
  }
  else {
    handler.open({
      amount: Math.round(amount)
    })
  }
  $('#error_explanation').html('');
});
// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
